#dailysales_allwrap
    .wrapper.wrapper-content.animated.fadeInRight
        .row.plain
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .ibox.float-e-margins
                    .ibox-content
                        .control-group
                            #dailysales_parsley_msgAll
                            form#dailysales_form(data-parsley-validate='')
                                .row(style='padding: 10px 0px;')
                                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                        form.form-horizontal
                                            label#dailysales_label_strEndDate(for='dailysales_drp_strDate') 조회시작일
                                            .control-group
                                                .controls
                                                    .input-prepend.input-group
                                                        span.add-on.input-group-addon
                                                            i.glyphicon.glyphicon-calendar.fa.fa-calendar
                                                        input#dailysales_drp_strDate.datepicker.form-control(type='text')
                                    .col-lg-2.col-md-2.col-sm-2.col-xs-2.pull-left
                                        button#dailysales_btn_req.btn.btn-primary(type='button', style='margin-top: 23px;') Go
                                    .col-lg-2.col-md-2.col-sm-2.col-xs-2
                                        ul.nav.navbar-top-links
                                            li.dropdown
                                                a.dropdown-toggle.count-info(data-toggle='dropdown', href='#')
                                                    i.fa.fa-bell
                                                    span.label.label-primary 0
                                                ul.dropdown-menu.dropdown-alerts
                                                    li
                                                        a(href='mailbox.html')
                                                            div
                                                                i.fa.fa-envelope.fa-fw
                                                                |  You have 16 messages
                                                                span.pull-right.text-muted.small 4 minutes ago
                                                    li.divider
                                                    li
                                                        a(href='profile.html')
                                                            div
                                                                i.fa.fa-twitter.fa-fw
                                                                |  3 New Followers
                                                                span.pull-right.text-muted.small 12 minutes ago
                                                    li.divider
                                                    li
                                                        a(href='grid_options.html')
                                                            div
                                                                i.fa.fa-upload.fa-fw
                                                                |  Server Rebooted
                                                                span.pull-right.text-muted.small 4 minutes ago
                                                    li.divider
                                                    li
                                                        .text-center.link-block
                                                            a(href='notifications.html')
                                                                strong See All Alerts
                                                                i.fa.fa-angle-right
                                    .col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-right
                                        .pull-right
                                            input#dailysales_knob.knob(value='0')
                                    .col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-right(style='text-align: right;')
                                        input#dailysales_inputc_chartYn.dailysales_icheck(checked='', type='checkbox', value='useYn2', style='position: absolute; opacity: 0;')
                                        label.orange(for='dailysales_inputc_chartYn') chart
                            h5 * 조회 일자로부터 최근 31일 데이터(쇼핑/도서:결제|ENT:확정|투어/항공:확정|숙박:결제)
                            h5 * UV/PV 데이터는 당일 14:00 이후 집계됨
                            #dailysales_chartRow(style='display: block; ')
                                .row
                                    .ibox.float-e-margins
                                        .ibox-title
                                            span.pull-right
                                                .orange
                                                    //
                                                      <label>기준:
                                                      </label>
                                                    label(style='margin-left: 1px;')
                                                        input#dailysales_inputr_dmComTp_s.dailysales_icheck(checked='', type='radio', name='dailysales_inputr_dmComTp', value='02')
                                                        | 										SHOP
                                                    label(style='margin-left: 1px;')
                                                        input#dailysales_inputr_dmComTp_b.dailysales_icheck(type='radio', name='dailysales_inputr_dmComTp', value='03')
                                                        | 										BOOK
                                                    label(style='margin-left: 1px;')
                                                        input#dailysales_inputr_dmComTp_e.dailysales_icheck(type='radio', name='dailysales_inputr_dmComTp', value='04')
                                                        | 										ENTR
                                                    label(style='margin-left: 1px;')
                                                        input#dailysales_inputr_dmComTp_t.dailysales_icheck(type='radio', name='dailysales_inputr_dmComTp', value='05')
                                                        | 										TOUR
                                            h5.orange [당기/YOY매출 + UV/PV chart]
                                        .ibox-content(style='height:320px')
                                            // border_force orange_border
                                            .row
                                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    #dailysales_chartpwrap
                                                        #dailysales_chart
                            .x_content
                                // grid start
                                #dailysales_gridwrap
                                    #dailysales_grid
                                // grid end
                                // loadpanel start
                                #dailysales_loadpanel
                                // toast
                                #dailysales_toast
script(src='/js/tab/all/dailySales.js' type='text/javascript')
