{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jquery": true

    },
    "globals": {
        "Chart": false,
        "UtilsCmmn": false,
        "UtilsReq": false,
        "UtilsDx": false,
        "CSRequester": false,
        "Globalize": false,
        "Logger": false,
        "moment": false,
        "toastr": false
    },
    "extends": "standard",
    "plugins": [
        "standard",
        "promise"
    ],
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "semi": [2, "always"],
        "no-multi-spaces": [1, {
            "exceptions": {
                "VariableDeclarator": true
            }
        }]
    }
}
