extends ../template/index
block content
    div(style='background-color: #f3f3f4 !important; height: 100%;')
        .loginColumns.animated.fadeInDown
            #login_allwrap
                .row
                    .col-md-6
                        h2.font-bold
                            | Flow Traffic Monitoring
                            small  (v0.1.6)
                        p
                        p For Flow Traffic Monitoring
                        p - As Traffic Viewer
                        p - Traffic History
                        p - Profile
                        p(style='margin-top: 49px;') * warning
                        ul
                            li
                                | Supported Browsers -
                                a(href='https://www.google.co.kr/chrome/browser/desktop/index.html', target='_blank') Chrome (62+)
                            li contact - YKH Team
                    .col-md-6
                        .ibox-content
                            #login_brws_valid
                                #login_parsley_msgAll
                                form#login_form.m-t(data-parsley-validate='')
                                    .form-group
                                        input#login_inputt_userId.form-control(type='text', placeholder='email', required='')
                                    .form-group
                                        input#login_inputt_userPw.form-control(type='password', placeholder='password', required='')
                                    .form-group
                                        label
                                            input#login_inputc_saveId.login_icheck(type='checkbox', value='saveId', checked='checked', style='margin-right: 5px;')
                                            |                                     remember me
                                    button#login_btn_req.btn.btn-primary.block.full-width.m-b(type='button')
                                        | Login
                                    a(href='#')
                                        small
                                            s Forgot password?
                            #login_brws_invalid(style='display: none;')
                                h3.font-bold
                                    | [ oops!
                                    i.fa.fa-smile-o.fa-lg
                                    |  ]
                                p This is not Chrome.
                                p(style='margin-bottom: 48px;')
                                    | We do not support IE, Firefox and Safari browsers.
                                    | Please, use
                                    a(href='https://www.google.co.kr/chrome/browser/desktop/index.html', target='_blank')
                                        | Chrome
                                    | !
                                label#login_label_chrome.btn.btn-primary.block.full-width.m-b(for='login_a_chrome')
                                    a#login_a_chrome(style='color: #ffffff', href='https://www.google.co.kr/chrome/browser/desktop/index.html', target='_blank') Download Chrome!
                // <hr/>
                .row(style='margin-top: 10px;')
                    .col-md-6
                        | FTM Project by YKM Team
                    .col-md-6.text-right
                        small © 2018-2019
                #login_toast
