body {
    background-color: #464343;
    color: #505253;
}
.nav-header {
    background-color: #464343;
}
.nav > li.active {
    border-left: 4px solid #19aa8d;
    background: #363535;
}
ul.nav-second-level {
    background: #363535;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: #363535;
    color: white;
}
.mini-navbar .nav .nav-second-level {
    background-color: #363535;
}
.nav.nav-tabs li {
    background: none;
    border: none;
}
.table > thead > tr > th {
    text-align: center;
}
.sum {
    font-weight: bold;
}
.dataTables_wrapper {
    padding-bottom: 0px;
}
.modal-body {
    padding: 10px 20px 10px 20px;
}
.editor {
    background-color: #ffce9826;
    /*color: #000000;*/
    /*font-weight: 500;*/
}
.btn-small {
    padding: 2px 4px;
    font-size: 11px;
}
.acct-menu-radio-wrapper {
    margin-top: 11px;
}
.acct-menu-font {
    font-weight: bold;
}
.acct-menu-icon {
    margin-right: 5px;
}
.pinkred {
    color: #ed5565;
}
.grid_dstAs {
    min-width: 400px;
    /*font-size: smaller;*/
}
.margin-b-reset {
    margin-bottom: 0px !important;
}
.grid-dstAs-spinner {
    margin: 0px 12px;
}
.grid-multi-search {
    font-weight: 600;
    color: #f33f52;
    width: 100% !important;
    min-width: 125px;
    margin-top: -10px;
}
.grid-multi-search::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(246, 114, 128, 0.65);
}
.grid-multi-search:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #f67280;
    opacity: 1;
}
.grid-multi-search::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #f67280;
    opacity: 1;
}
.grid-multi-search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(246, 114, 128, 0.65);
}
.grid-dom-btn1 {
    margin-right: 10px;
    background-color: #f6728059;
    font-size: smaller;
    padding: 0px 12px;
}

.large-table-container-3 {
    overflow-x: scroll;
    overflow-y: auto;
}
.large-table-container-3 table {
}
.large-table-fake-top-scroll-container-3 {
    overflow-x: scroll;
    overflow-y: auto;
    margin-bottom: 10px;
}
.large-table-fake-top-scroll-container-3 div {
    /*font-size:1px;
    line-height:1px;*/
}

.grid-row-selected {
    background-color: #18a689a3 !important;
}

.update-color {
    color: #ffa643;
}
.profile_gridwrap {
    min-height: 300px;
}
.profile-text-left {
    text-align: left !important;
}
/**
* Change three lines
*
/* line 11 */
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px;
    user-select: none;
    -webkit-user-select: none; }

/* line 131 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 32px; }

/* line 139 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }

.mark-red {
    background: rgba(237, 85, 101, 0.67);
    color: black;
}
[contenteditable="true"] br { display: none }


/* td badge icon */
.badge-td {
    position: relative;
    float: left;
    border-radius: 10rem;
    color: #fff;
    background-color: #f86c6b;
    padding: 4px 7px;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.badge-td:hover{
    /*color: inherit;
    border: 1px solid #d2d2d2;*/
    background-color: #f86c6ba6;
    cursor: pointer;
}
.badge-td-off{
    background-color: rgb(148, 148, 148);
}
.badge-td-off:hover{
    background-color: rgb(186, 185, 185) !important;
}

/* for floating grid menu(button) */
.html5buttons {
    position: relative;
}
/* for floating grid menu(global search input) */
#trfV_grid_filter {
    position: relative;
    float: right;
    text-align: left !important;
}
#trfH_grid_filter {
    position: relative;
    float: right;
    text-align: left !important;
}

/* button badge icon - for searchable at once toggle */
.badge-btn {
    position: relative;
    float: left;
    border-radius: 10rem !important;
    color: #fff;
    background-color: #f86c6b;
    /*padding: 4px 7px;*/
    line-height: 1.1em;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: smaller;
    padding: 5px 10px;
    border: 0px solid #e7eaec !important;
    margin-right: 2px;
}
.badge-btn:hover{
    border: 0px solid #e7eaec !important;
    background-color: #f86c6ba6;
    cursor: pointer;
    color: #fff;
}
.badge-btn-off{
    background-color: rgb(148, 148, 148);
}
.badge-btn-off:hover{
    background-color: rgb(186, 185, 185) !important;
}
