body {
    background-color: #464343;
    color: #505253;
}
.nav-header {
    background-color: #464343;
}
.nav > li.active {
    border-left: 4px solid #19aa8d;
    background: #363535;
}
ul.nav-second-level {
    background: #363535;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: #363535;
    color: white;
}
.mini-navbar .nav .nav-second-level {
    background-color: #363535;
}
.nav.nav-tabs li {
    background: none;
    border: none;
}
.table > thead > tr > th {
    text-align: center;
}
.sum {
    font-weight: bold;
}
.dataTables_wrapper {
    padding-bottom: 0px;
}
.modal-body {
    padding: 10px 20px 10px 20px;
}
.editor {
    background-color: #ffce98;
    /*color: #000000;*/
    /*font-weight: 500;*/
}
.btn-small {
    padding: 2px 4px;
    font-size: 11px;
}
.acct-menu-radio-wrapper {
    margin-top: 11px;
}
.acct-menu-font {
    font-weight: bold;
}
.acct-menu-icon {
    margin-right: 5px;
}
.pinkred {
    color: #ed5565;
}
.grid_dstAs {
    min-width: 400px;
    /*font-size: smaller;*/
}
.margin-b-reset {
    margin-bottom: 0px !important;
}
.grid-dstAs-spinner {
    margin: 0px 12px;
}
.grid-multi-search {
    font-weight: 600;
    color: #f33f52;
    width: 100% !important;
    min-width: 125px;
}
.grid-multi-search::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(246, 114, 128, 0.65);
}
.grid-multi-search:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #f67280;
    opacity: 1;
}
.grid-multi-search::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #f67280;
    opacity: 1;
}
.grid-multi-search:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(246, 114, 128, 0.65);
}
.grid-dom-btn1 {
    margin-right: 5px;
    background-color: #f6728059;
}

.large-table-container-3 {
    overflow-x: scroll;
    overflow-y: auto;
}
.large-table-container-3 table {
}
.large-table-fake-top-scroll-container-3 {
    overflow-x: scroll;
    overflow-y: auto;
    margin-bottom: 10px;
}
.large-table-fake-top-scroll-container-3 div {
    /*font-size:1px;
    line-height:1px;*/
}
