body {
    background-color: #464343;
}
.nav-header {
    background-color: #464343;
}
.nav > li.active {
    border-left: 4px solid #19aa8d;
    background: #363535;
}
ul.nav-second-level {
    background: #363535;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: #363535;
    color: white;
}
.mini-navbar .nav .nav-second-level {
    background-color: #363535;
}
.nav.nav-tabs li {
    background: none;
    border: none;
}
.table > thead > tr > th {
    text-align: center;
}
.sum {
    font-weight: bold;
}
.dataTables_wrapper {
    padding-bottom: 0px;
}
.modal-body {
    padding: 10px 20px 10px 20px;
}
.editor {
    background-color: #ffce98;
    /*color: #000000;*/
    /*font-weight: 500;*/
}
.btn-small {
    padding: 2px 4px;
    font-size: 11px;
}
.acct-menu-radio-wrapper {
    margin-top: 11px;
}
.acct-menu-font {
    font-weight: bold;
}
.acct-menu-icon {
    margin-right: 5px;
}
