// footer content
.footer
    .pull-right
        // Local Storage 10GB of <strong>250GB</strong> Free.
    div
        strong  PMACCT - Admin Project
        |  by YKH Team © 2018-2019
// /footer content
