// footer content
.footer
    .pull-right
        // Local Storage 10GB of <strong>250GB</strong> Free.
    div
        strong  Interpark - ISIS Project
        |  by DB-M Team © 2017-2018
// /footer content
