doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='인터파크, INTERPARK')
        meta(name='keywords', content='인터파크, INTERPARK')
        meta(name='author', content='ISIS')
        title ISIS
    body
        link(rel="stylesheet", href="/dist/common.css")
        block content
        script(src="dist/bundle.js")
        script(type='text/javascript').
