// menu left
nav.navbar-default.navbar-static-side(role='navigation')
    #navLeft.sidebar-collapse
        ul#side-menu1.nav.metismenu.tab_link
            li.nav-header
                .dropdown.profile-element
                    // <span> <img alt="image" class="img-circle" src="img/profile_small.jpg"> </span>
                    span
                        a(href='')
                            h1(style='color: white; font-weight: 300;') Flow Traffic Monitoring
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        span.clear
                            span.block.m-t-xs
                                strong.font-bold admin
                                b.caret
                            // <span class="text-muted text-xs block">개인정보<b class="caret"></b></span>
                    ul.dropdown-menu.animated.fadeInLeft.m-t-xs
                        li
                            a(href='#') sub1
                        li
                            a(href='#') sub2
                        li
                            a(href='#') sub3
                        li.divider
                        li
                            a(href='#') Logout
                .logo-element FTM
            // sample
            li.tab_go(data-info='{"id":"acct_test2","title":"AS Traffic Viewer","url":"/view/acct/trfViewer","icon":"fa fa-bar-chart-o"}')
                a(href='#')
                    i.fa.fa-bar-chart-o
                    span.nav-label AS Traffic Viewer
            li.tab_go(data-info='{"id":"acct_test1","title":"Traffic History","url":"/view/acct/trfHistory","icon":"fa fa-history"}')
                a(href='#')
                    i.fa.fa-history
                    span.nav-label Traffic History
            li.tab_go(data-info='{"id":"acct_profile","title":"Profile","url":"/view/acct/profile","icon":"fa fa-star"}')
                a(href='#')
                    i.fa.fa-star
                    span.nav-label Profile
            //li.tab_go(data-info='{"id":"acct_ifoList","title":"iface out alias","url":"/view/acct/ifoList"}')
                a(href='#')
                    i.fa.fa-th-large
                    span.nav-label iface out alias
            //li
                a(href='')
                    i.fa.fa-th-large
                    span.nav-label level1
                    span.fa.arrow
                ul.nav.nav-second-level.collapse
                    li.active
                        a(href='#')
                            | level2
                            span.fa.arrow
                        ul.nav.nav-third-level.collapse
                            li.tab_go
                                a(href='#') level3

// menu left
