#acct1_allwrap
    .wrapper.wrapper-content.animated.fadeInRight
        .row.plain
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .ibox.float-e-margins
                    #acct1_contentwrap.ibox-content
                        .control-group
                            #acct1_parsley_msgAll
                            form#acct1_form(data-parsley-validate='')
                                .row(style='padding: 10px 0px;')
                                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                        form.form-horizontal
                                            label#acct1_label_date(for='acct1_drp_date') 조회시작시간 (+ 1시간)
                                            .control-group
                                                .controls
                                                    .input-prepend.input-group
                                                        span.add-on.input-group-addon
                                                            i.glyphicon.glyphicon-calendar.fa.fa-calendar
                                                        input#acct1_drp_date.datepicker.form-control(type='text')
                                    .col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-left
                                        button#acct1_btn_req.btn.btn-primary(type='button', style='margin-top: 23px;') Go
                                    .col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-right(style='text-align: right;')
                                        input#acct1_inputc_chartYn.acct1_icheck(checked='', type='checkbox', value='useYn2', style='position: absolute; opacity: 0;')
                                        label.orange(for='acct1_inputc_chartYn') chart
                            h5 * 현재는 지정된 시간부터 + 1시간이 조회됨
                            #acct1_chartRow(style='display: block; ')
                                .row
                                    .ibox.float-e-margins
                                        .ibox-title
                                            span.pull-right
                                                .orange
                                                    //
                                                      <label>기준:
                                                      </label>
                                                    label(style='margin-left: 1px;')
                                                        input#acct1_inputr_chartR_1.acct1_icheck(type='radio', name='acct1_inputr_chartR', value='1')
                                                        |                                        1분
                                                    label(style='margin-left: 1px;')
                                                        input#acct1_inputr_chartR_5.acct1_icheck(checked='', type='radio', name='acct1_inputr_chartR', value='5')
                                                        |                                        5분
                                                    label(style='margin-left: 1px;')
                                                        input#acct1_inputr_chartR_10.acct1_icheck(type='radio', name='acct1_inputr_chartR', value='10')
                                                        |                                        10분
                                                    label(style='margin-left: 1px;')
                                                        input#acct1_inputr_chartR_30.acct1_icheck(type='radio', name='acct1_inputr_chartR', value='30')
                                                        |                                        30분
                                            h5.orange [packet usage chart]
                                        .ibox-content
                                            // border_force orange_border
                                            .row
                                                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                    #acct1_chartwrap(style='width: 100%;height:320px')
                                                        canvas#acct1_chart
                            .x_content
                                // grid start
                                #acct1_gridwrap.table-responsive
                                    table#acct1_grid.table.table-striped.table-bordered.table-hover.dataTables-example.dataTable
                                        thead
                                            tr
                                                th regTime
                                                th peerIpSrc
                                                th ifaceIn
                                                th ifaceOut
                                                th ipSrc
                                                th ipDst
                                                th ipProto
                                                th lcomms
                                                th portSrc
                                                th portDst
                                                th tcpFlag
                                                th packets
                                                th byteSum
                                // grid end

script(src='/js/tab/acct/test1.js' type='text/javascript')
