#acct2_allwrap
    .wrapper.wrapper-content.animated.fadeInRight
        .row.plain
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .ibox.float-e-margins
                    #acct2_contentwrap.ibox-content
                        .control-group
                            #acct2_parsley_msgAll
                            form#acct2_form(data-parsley-validate='')
                                .row(style='padding: 10px 0px;')
                                    .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                        form.form-horizontal
                                            label#acct2_label_date(for='acct2_drp_date') 조회시작시간 (+ 1시간)
                                            .control-group
                                                .controls
                                                    .input-prepend.input-group
                                                        span.add-on.input-group-addon
                                                            i.glyphicon.glyphicon-calendar.fa.fa-calendar
                                                        input#acct2_drp_date.datepicker.form-control(type='text')
                                    .col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-left
                                        button#acct2_btn_req.btn.btn-primary(type='button', style='margin-top: 23px;') Go
                                    .col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-right(style='text-align: right;')
                                        input#acct2_inputc_chartYn.acct2_icheck(checked='', type='checkbox', value='useYn2', style='position: absolute; opacity: 0;')
                                        label.orange(for='acct2_inputc_chartYn') chart
                            h5 * 지정된 시간부터 + 5분이 조회됨
                            #acct2_chartRow(style='display: block; ')
                                .row
                                    .ibox.float-e-margins
                                        .ibox-title
                                            h5.orange [packet usage chart]
                                        .ibox-content
                                            // border_force orange_border
                                            .row
                                                .col-lg-9.col-md-9.col-sm-12.col-xs-12
                                                    #acct2_chartwrap(style='width: 100%;height:320px')
                                                        canvas#acct2_chart
                                                .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                    #acct2_piewrap(style='width: 100%;height:320px')
                                                        canvas#acct2_pie
                            .x_content
                                // grid start
                                #acct2_gridwrap.table-responsive
                                    table#acct2_grid.table.table-striped.table-bordered.table-hover.dataTables-example.dataTable
                                        thead
                                            tr
                                                th(rowspan='2', style='vertical-align: middle') regTime
                                                th(colspan='6') ifaceOut
                                                th(rowspan='2', style='vertical-align: middle') dstNetMask
                                                th(rowspan='2', style='vertical-align: middle') byteSum
                                                th(rowspan='2', style='vertical-align: middle') dstAs
                                            tr
                                                th 33882175
                                                th 37290047
                                                th 100991039
                                                th 103874623
                                                th 201654335
                                                th 205586495


                                // grid end
script(src='/js/tab/acct/test2.js' type='text/javascript')
