#trfV_allwrap
    .wrapper.wrapper-content.animated.fadeInRight
        .row.plain
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .ibox.float-e-margins
                    #trfV_contentwrap.ibox-content
                        .control-group
                            #trfV_parsley_msgAll
                            form#trfV_form(data-parsley-validate='')
                                .row(style='padding: 10px 0px;')
                                    .col-lg-2.col-md-3.col-sm-3(style='min-width: 230px;')
                                        form.form-horizontal
                                            label#trfV_label_date(for='trfV_drp_date') 조회시작시간
                                            .control-group
                                                .controls
                                                    .input-prepend.input-group
                                                        span.add-on.input-group-addon
                                                            i.glyphicon.glyphicon-calendar.fa.fa-calendar
                                                        input#trfV_drp_date.datepicker.form-control(type='text')
                                    .col-lg-2.col-md-3.col-sm-3(style='min-width: 213px;')
                                         label#trfV_label_intervalR Time Interval
                                         .acct-menu-radio-wrapper
                                            //
                                              <label>기준:
                                              </label>
                                            label(style='margin-left: 3px;')
                                                input#trfV_inputr_intervalR_1.trfV_icheck(type='radio', name='trfV_inputr_intervalR', value='-1' checked='')
                                                | 1분
                                            label(style='margin-left: 3px;')
                                                input#trfV_inputr_intervalR_3.trfV_icheck(type='radio', name='trfV_inputr_intervalR', value='-3')
                                                | 3분
                                            label(style='margin-left: 3px;')
                                                input#trfV_inputr_intervalR_5.trfV_icheck(type='radio', name='trfV_inputr_intervalR', value='-5')
                                                | 5분
                                            label(style='margin-left: 3px;')
                                                input#trfV_inputr_intervalR_10.trfV_icheck(type='radio', name='trfV_inputr_intervalR', value='-10')
                                                | 10분
                                    .col-lg-2.col-md-3.col-sm-3(style='min-width: 230px;')
                                        form.form-horizontal
                                            label#trfV_label_profile(for='trfV_sel2_profile') Profile
                                            select#trfV_sel2_profile.form-control.select2-multiple.m-b.input-lg(style='margin-top: 23px;')
                                                option(value="-1") 선택안함
                                    .col-lg-2.col-md-3.col-sm-3.pull-left
                                        button#trfV_btn_req.btn.btn-primary(type='button', style='margin-top: 23px;') Go
                                        button#trfV_btn_now.btn.btn-danger.btn-rounded(type='button', style='margin-top: 23px; margin-left:6px; padding: 6px 7px;') Now
                                    //.col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-left
                                    //    label Settings
                                    //    button#trfV_btn_ifoas.btn.btn-warning(type='button', style='margin-top: 0px;') IFO AS

                                    //.col-lg-1.col-md-1.col-sm-1.col-xs-1.pull-right(style='text-align: right;')
                                    //    input#trfV_inputc_chartYn.trfV_icheck(checked='', type='checkbox', value='useYn2', style='position: absolute; opacity: 0;')
                                    //    label.orange(for='trfV_inputc_chartYn') chart
                                    .col-lg-2.col-md-2.col-sm-2.pull-right(style='text-align: right; min-width: 110px;')
                                        .dropdown.acct-menu-font
                                            a.dropdown-toggle.dashbd-icon(data-toggle='dropdown', aria-expanded='false')
                                                i.fa.fa-cog.fa-lg.acct-menu-icon
                                                | Settings
                                            ul.dropdown-menu.dropdown-menu-right.animated.fadeInRight
                                                li
                                                    a#trfV_btn_ifoas(href='#')
                                                        .inline
                                                            i.fa.fa-pencil-square-o.fa-lg.acct-menu-icon
                                                            label Set Infaceout Alias
                                                li.divider
                                                li
                                                    a(href='#')
                                                        .inline
                                                            input#trfV_inputc_chartYn.trfV_icheck.acct-menu-icon(checked='', type='checkbox', value='useYn2', style='position: absolute; opacity: 0;')
                                                            label(for='trfV_inputc_chartYn', style='margin-left: 5px;') Show Chart
                                                li.divider
                                                    li
                                                        a(href='#')
                                                            .inline
                                                                input#trfV_inputc_linkChartYn.trfV_icheck.acct-menu-icon(checked='', type='checkbox', value='useYn2', style='position: absolute; opacity: 0;')
                                                                label(for='trfV_inputc_linkChartYn', style='margin-left: 5px;') Link Chart

                            h5
                                |* 지정된 시간부터
                                #trfV_interval_msg.inline
                                    |&nbsp;&nbsp;-1
                                |분이 조회됨
                                #trfV_timehis_msg.inline
                                    | &nbsp;&nbsp;[searched : no history]
                            #trfV_chartRow(style='display: block; ')
                                .row
                                    .ibox.float-e-margins
                                        .ibox-title
                                            h5.orange [bps chart]
                                        .ibox-content
                                            // border_force orange_border
                                            .row
                                                .col-lg-9.col-md-9.col-sm-12.col-xs-12
                                                    #trfV_chartwrap(style='width: 100%;height:320px')
                                                        canvas#trfV_chart
                                                .col-lg-3.col-md-3.col-sm-12.col-xs-12
                                                    #trfV_piewrap(style='width: 100%;height:320px')
                                                        canvas#trfV_pie
                            .x_content
                                #trfV_gridtopscroll.large-table-fake-top-scroll-container-3
                                    div
                                        |&nbsp; 
                                // grid start
                                #trfV_gridwrap.large-table-container-3
                                // grid end
                                // modal
                                #trfV_modal_ifoas.modal.fade(role='dialog')
                                    .modal-dialog.modal-lg
                                        // Modal content
                                        .modal-content
                                            .modal-header
                                                button.close(type='button', data-dismiss='modal') ×
                                                h4.modal-title Set iface out alias
                                            #trfV_body_ifoas.modal-body
                                            .modal-footer
                                                button.btn.btn-default(type='button', data-dismiss='modal') Close
script(src='/js/tab/acct/trfViewer.js' type='text/javascript')
